:root {
    --body: hsl(217, 15%, 97%);
    --main-type: hsl(217, 15%, 17%);
    --accent: hsl(217, 83%, 38%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --body: hsl(217, 15%, 8%);
        --main-type: hsl(217, 15%, 90%);
        --accent: hsl(217, 83%, 70%);
    }

    img:not([src*=".svg"]) {
        filter: grayscale(10%);
    }
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.list-link:hover {
    color: var(--accent);
    text-decoration: underline;
}

#content {
    color: var(--main-type);
    max-width: 800px;
    min-height: calc(100vh - 75px);
    margin: 0 auto;
    margin-top: 75px;
    width: calc(100% - 30px);
    padding: 15px;
}

body {
    background-color: var(--body);
}

img {
    max-width: 700px;
    width: 100%;
}

h1 {
    font-size: 350%;
}

h2 {
    font-size: 275%;
}

h3 {
    font-size: 200%;
}

iframe {
    margin-bottom: 20px;
}

p,
ul,
ol {
    font-size: 125%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    /*font-family: neue-haas-unica, sans-serif;*/
    margin: 0;
}

.list-link {
    /*margin: 40px 0;*/
    font-size: 125%;
}

.feature-img {
    pointer-events: none;
    background-color: var(--accent);
    position: fixed;
    display: none;
    width: 300px;
    right: 20px;
    border: 2px solid var(--accent);
}

#footer {
    max-width: 910px;
    width: 100%;
    margin: 0 auto;
    margin-top: 75px;
    color: var(--main-type);
}

#footer a,
#footer span {
    font-size: 100%;
    display: inline-block;
    padding: 20px 30px;
}

#header a {
    z-index: 1000;
    text-decoration: none;
    position: fixed;
    font-size: 150%;
    font-weight: bold;
    color: var(--accent);
}

table {
    text-align: left;
    width: 100%;
    margin-top: 40px;
}

td {
    font-weight: normal;
    /*  pointer-events: none;*/
    height: 80px;
    vertical-align: top;
    cursor: pointer;
}

th {
    font-weight: normal;
    height: 40px;
    vertical-align: top;
}
.col1 {
    width: 140px;
}
.col2 {
    font-weight: bold;
}

.col3 {
    text-align: right;
}
/*.col2 {
    pointer-events: none;
}

.col1 {
    pointer-events: none;
    display: inline-block;
    width: 275px;
}*/

img[data-src] {
    filter: blur(0.2em);
}

img {
    filter: blur(0em);
    transition: filter 1.5s;
}
